<!-- MAIN CONTENT -->
<section id="hero" class="full">
	<figure class="ppr"> 
		<span>
			<!-- title -->
			<a>Paper</a>
		</span>
		<h1>
			<!-- hidden text -->
			<a href="/scrape">an onion peeling site, click to get started</a>
		</h1>
	</figure>
</section>

<!-- SIDE CONTENT -->
<!-- 		<div class="row ">
	<div id="articles"></div>
	<div id="notes"></div>
</div> -->
	<script src="app.js"></script>

